<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Home</title>
        <!-- Main CSS File -->
        <link rel="stylesheet" href="{% static "css/style.css" %}"/>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

        <!-- Medium Text Editor -->
        <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    </head>
    <body class="loader">
        <nav class="navbar navbar-expand-lg navbar-light bg-light techfont custom-navbar">
            <a class="navbar-brand bigbrand" href="{% url 'post_list' %}">Schools</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="{% url 'about' %}">About</a>
                    <a class="nav-item nav-link active" href="https://www.github.com">Github</a>
                </div>
            </div>

            <div class="nav navbar-nav">
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'post_new' %}">New post</a>
                    </li>
                    <li>
                        <a href="{% url 'post_draft_list' %}">Drafts</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Log out</a>
                    </li>
                    <li>
                        <a>Welcome: {{ user.username }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span></a>
                    </li>
                {% endif %}
            </div>
        </nav>

        
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="blog_posts">
                            {% block body_block %}

                            {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>