{% extends 'base.html' %}

{% block body_block %}
    <section class="about-us-section">
        <div class="container">
            <div class="text-center">
                <h1 class="about-heading">About us</h1>
                <p class="about-content">Pt. Deen Dayal Upadhyaya Saraswati Vidya Mandir Inter College Lakhimpur Kheri is one of the most reputed colleges in Utter Pradesh,India. It is self-financed institution established in the name of a great Schloar and social activist. Pt. Deen Dayal Upadhyaya who devoted his entire life in the service of the poor and the downtrodden and contributed a great deal to the building of the nation by organizing the citizens of the country; and taught them the lesson of sacrifice and patriotism; and led the nation to the height of the heaven.</p>
                <h3>Educate, Empower Enlighten</h3>
            </div>
        </div>
    </section>
{% endblock %}