{% extends 'base.html' %}

{% block body_block %}
    <section class="admission-section">
        <div class="container">
            <div class="text-center">
                <h1 class="admission-heading">Admission</h1>
                <p class="admission-content">Candidates applying for admission will be required to fill up and submit the Admission Form (attached with the Prospectus) alongwith following original certificates and self-attested copies there of.</p>
                <p class="admission-content">The link to apply online will be open in <b>XYZ</b> month</p>
            </div>
        </div>
    </section>
{% endblock %}