{% extends 'base.html' %}

{% block body_block %}
    <section class="contact-us-section">
        <div class="container">
            <div class="text-center">
                <h1 class="contact-us-heading">Contact us</h1>
                <div class="contact-us-content">
                    <h4>Phone : <a href="tel:263052">05872-263052</a></h4>
                    <h4>Email : <a href="mailto:ptdeendayal@rediffmail.com">ptdeendayal@rediffmail.com</a></h4>
                </div>
            </div>
        </div>
    </section>
{% endblock %}