{% extends 'base.html' %}

{% block body_block %}
    <section class="facilities-section">
        <div class="container">
            <div class="text-center">
                <h1 class="facilities-heading">Facilities</h1>
                <h2 class="text-left">Bus Facility</h2>
                <p class="facilities-content text-left">For the convenience of the students, the college has its three own buses, The students can avail of themselves bus facility by paying the annual bus charges fixed for them.</p>
                <h1 class="display-1">* Fee str *</h1>
            </div>
        </div>
    </section>
{% endblock %}