{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
    <!-- Welcome section -->
    <section class="welcome-section">
        <div class="container">
            <div class="text-center welcome-heading">
                <h1 class="welcome-head">Welcome to<br>Pt. Deen Dayal Upadhaya Saraswati Vidya Mandir Inter college</h1>
                <p>We feel immense delighted representing our motive before you under which it is aimed to develop new generation equipped with all the skills and information. A well reputed and wisely regarded, ‘Institution is the axis of social awareness’. We would like to do our best efforts in developing new generation for awakening the society.</p>
                <p>It would be prior brooding to do their all-round development along with adopting morals and centering five stepped methods of teaching. We would like to feel pride observing in our students the devotion and dedication for the motherland and performing herculean task for success and achievements. It would be challenging to maintain the moral values in rapidly changing modern circumstances. “what’s life without moral values?”.</p>
                <p>To enable the students self dependent through the quality education, based on moral values so that they could be deserve to solve sincerely the negative severe circumstance of future. Our main motto is to provide them unrestraint expression freely by physical , Moral and spiritual development through which they could attempt the apex achievements in any field of their lives.</p>
                <a href="#carousel"><button type="button" class="btn-explore">Explore us</button></a>
            </div>
        </div>
    </section>
    <!-- Welcome section ends -->

    <!-- Header carousel -->
    <div class="carousel" id="carousel">
        <div class="carousel-slider">
            <!-- Slider 1 -->
            <div class="slider" id="slider1">
                <!-- Slides -->
                <img src="{% static 'media/image-gallery/Pt. Deen Dayal.JPG' %}" alt="Pt. Deen Dayal">
                <img src="{% static 'media/image-gallery/students-smiling.JPG' %}" alt="students smiling">
                <img src="{% static 'media/image-gallery/PrincipalsSpeech.JPG' %}" alt="Principal's Speech">
                <img src="{% static 'media/image-gallery/prayer-scenes.JPG' %}" alt="prayer scenes">
                <img src="{% static 'media/image-gallery/rangoli-event.JPG' %}" alt="rangoli event">
                <!-- The Arrows -->
                <i class="left" class="arrows" style="z-index:2; position:absolute;"><svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z"></path></svg></i>
                <i class="right" class="arrows" style="z-index:2; position:absolute;"><svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" transform="translate(100, 100) rotate(180) "></path></svg></i>
            </div>
            </div>
        </div>
    </div>
    <!-- Header carousel ends -->

    <!-- Explore section -->
    <section class="explore-section">
        <div class="container">
            <h1 class="text-center">Explore us</h1>
            <div class="row text-center">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'media/image-gallery/principal-desk-sign.JPG' %}" alt="principal-desk-sign" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Principal Speaks</h4>
                            <a href="#"><button type="button" class="card-btn">More</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">annual-function
                    <div class="card">
                        <img class="card-img-top mid" src="{% static 'media/image-gallery/annual-function.JPG' %}" alt="annual-function" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Photo Gallery</h4>
                            <a href="#"><button type="button" class="card-btn">More</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'media/image-gallery/annual-function-2.JPG' %}" alt="annual-function-2" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">School Events</h4>
                            <a href="#"><button type="button" class="card-btn">More</button></a>
                        </div>
                    </div>
                </div>
            </div>

            <!--
            <div class="row text-center">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <img class="card-img-top" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/30256/1200_bodie-11.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Virtual Tour</h4>
                            <a href="#"><button type="button" class="card-btn">More</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <img class="card-img-top" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/30256/1200_bodie-11.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Achievers</h4>
                            <a href="#"><button type="button" class="card-btn">More</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <img class="card-img-top" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/30256/1200_bodie-11.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">School Calender</h4>
                            <a href="#"><button type="button" class="card-btn">More</button></a>
                        </div>
                    </div>
                </div>
            </div>
            -->
        </div>
    </section>
    <!-- Explore section ends -->

    <!-- Testimonial section -->
    <section class="testimonial text-center">
        <div class="container">
            <div class="heading white-heading">
                Aluminies
            </div>
            <div id="testimonial4" class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x" data-ride="carousel" data-pause="hover" data-interval="10000" data-duration="2000">
                
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="testimonial4_slide">
                            <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                            <h4>Alumini 1</h4>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial4_slide">
                            <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" /><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                            <h4>Alumini 2</h4>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial4_slide">
                            <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                            <h4>Alumini 3</h4>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#testimonial4" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#testimonial4" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </section>
    <!-- Alumini section ends -->
{% endblock %}