{% extends 'base.html' %}

{% block body_block %}
    <section class="labs-section">
        <div class="container">
            <div class="text-center">
                <h1 class="labs-heading">Labs</h1>
                <h3 class="text-left">Computer Lab</h3>
                <p class="text-left labs-content">Well-designed and separate computer labs for children, run by a well-educated and qualified faculty, with one-on-one access, which means there is one computer for each child.</p>
                <p class="text-left labs-content">There are 50 computers in our labs currently. They are state-of-the-art with multimedia, most of them with 17" LCD monitors that are easier on eyes, generate less heat and consume less power thereby keeping the classroom atmosphere comfortable for children. We use our own LAN with Windows 7 for teaching-learning, documentation and presentations. Currently we can claim 1:10 as the ‘student to computer ratio’ on campus.</p>
                <h3 class="text-left">Science Labs</h3>
                <p class="text-left labs-content">The School has well equipped laboratories For Physics, Chemistry and Biology. Students are encouraged to use these laboratories to learn through experiments. Every year latest instruments, specimens, charts etc. are purchased for these laboratories.</p>

            </div>
        </div>
    </section>
{% endblock %}