{% extends 'base.html' %}

{% block body_block %}
    <section class="library-section">
        <div class="container">
            <div class="text-center">
                <h1 class="library-heading">Library</h1>
                <h3 class="text-left">Mission</h3>
                <p class="text-left library-content">The library provides many children with their first chance to use and enjoy a library. The school library is a welcoming place for study and reading. The school library is to support the students and teachers by providing access to current, adequate and appropriate information resources. It is also to ensure that all the students, teachers and staff are effectively using the ideas and information. The library encourages the love of reading and development of student’s independent learning skills.</p>
                <h3 class="text-left">General Information</h3>
                <p class="text-left library-content">Deendayal school library has both printed as well as audio-visual material like CD-ROM and DVDS. There are plenty of books, encyclopedias, picture books, activity books, dictionaries. The library has books on literature in Hindi and English. We have around 5000 books in our library for varied age groups.</p>
            </div>
        </div>
    </section>
{% endblock %}