{% extends 'base.html' %}

{% block body_block %}
    <section class="mission-and-vision-section">
        <div class="container">
            <div class="text-center">
                <h1 class="vision-and-mission-heading">Vision & Mission</h1>
            </div>
            <div class="text-left">
                <ul>
                    <li><p>To develop a national education system able to make a youth generation having devotion in Hinduism and full of Patriotism.</p></li>
                    <li><p>To make physical, mental, intellectual and spiritual development of the pupils to face the current challenges of their life and make their life devoted in building of the nation prosperous.</p></li>
                    <li><p>To provide positive reinforcement of the abilities hidden in the students and to set new standards in the education of them.</p></li>
                    <li><p>To act as a light house of society and provide meaningful education and guidance to the students, parents and society.</p></li>
                    <li><p>To provide free enrichment classes for students weak in any subject and give highest level of the world exposure through campus and competitions</p></li>
                    <li><p>To provide frequent interactions between home and college.</p></li>
                    <li><p>To face educational challenges arising from economic, linguistic and cultural diversity.</p></li>
                    <li><p>To welcome suggestions from parents, well wishers & educationsists for the enhancement of education and society.</p></li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}