{% extends 'base.html' %}

{% block body_block %}
    <section class="school-profile-section">
        <div class="container">
            <div class="text-center">
                <h1 class="school-profile-heading">School Profile</h1>
            </div>
            <table class="table">
                <thead class="thead-color text-center">
                    <tr>
                        <th scope="col">Field</th>
                        <th scope="col">Information</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <td>College Name</td>
                        <td>Pt. Deendayal Upadhyay Saraswati Vidya Mandir Inter College</td>
                    </tr>
                    <tr>
                        <td>Affiliation No</td>
                        <td>2131327</td>
                    </tr>
                    <tr>
                        <td>College No</td>
                        <td>54818</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>Udaipur Gola Road</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>Lakhimpur Kheri</td>
                    </tr>
                    <tr>
                        <td>Pin Code</td>
                        <td>262701</td>
                    </tr>
                    <tr>
                        <td>Establishment Year</td>
                        <td>2007</td>
                    </tr>
                    <tr>
                        <td>Contact No</td>
                        <td><a href="tel:263052">263052</a></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><a href="mailto:ptdeendayal@rediffmail.com">ptdeendayal@rediffmail.com</a></td>
                    </tr>
                    <tr>
                        <td>Principal Name</td>
                        <td>Shri Sheshdhar Dwivedi</td>
                    </tr>
                    <tr>
                        <td>College Type</td>
                        <td>Private Un-aided</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}