{% extends 'base.html' %}

{% block body_block %}
    <section class="students-details-section">
        <div class="container">
            <div class="text-center">
                <h1 class="students-details-heading">Students Details</h1>
                <table class="table students-details-content">
                    <thead class="thead-color text-center">
                        <tr>
                            <th scope="col">class</th>
                            <th scope="col">Total strength</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td>6th</td>
                            <td>134</td>
                        </tr>
                        <tr>
                            <td>7th</td>
                            <td>173</td>
                        </tr>
                        <tr>
                            <td>8th</td>
                            <td>172</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>161</td>
                        </tr>
                        <tr>
                            <td>10th</td>
                            <td>231</td>
                        </tr>
                        <tr>
                            <td>11th</td>
                            <td>155</td>
                        </tr>
                        <tr>
                            <td>12th</td>
                            <td>162</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}