.col-md-3{
    display: inline-block;
    margin-left:-4px;
}

.carousel-indicators .active {
    background-color: blue;
}

.col-md-3 img{
    width: 250px;
    height: 200px;
}

body .carousel-indicator li{
    background-color: blue;
}

body .carousel-indicators{
    bottom: 0;
}

.carousel-control-prev, .carousel-control-next{
  top: auto;
  bottom: auto;
}

body .no-padding{
  padding-left: 0;
  padding-right: 0;
}

/* ================= Main CSS ================= */

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 55px;
  width: 55px;
  outline: black;
  background-size: 50%, 50%;
  border-radius: 50%;
  border: 2px solid black;
  margin: -170% 0% 0% 0%;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: rgb(0, 0, 0);
  margin: 0% 0% 0% 5%;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: rgb(0, 0, 0);
  margin: 0% 0% 0% -5%;
}