<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Django L3</title>
        <link rel="stylesheet" href="{% static "css/style.css" %}"/>
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>
    </head>
    <body>
        <div class="jumbotron text-center">
            <h1>Hi this is Django L3</h1>
        </div>
        <div class="container text-center">
            <h1>Welcome</h1>
            <h2>Go to users to sign up!</h2>
        </div>
    </body>
</html>