{% extends 'shop/base.html' %}
{% load staticfiles %}
{% block title %} {{ product.product_name }} {% endblock %}
{% block body %}

<div class="container">
    <div class="row my-4">
        <div class="col-md-4">
            <div class="row">
                <img src="/media/{{product.image}}" width="250px" height="200px">
            </div>
            <div class="row my-4">
                <button class="btn btn-primary mx-3">Buy Now</button>
                <button class="btn btn-primary">Add to Cart</button>
            </div>
        </div>
        <div class="col-md-8">
            <h3>{{ product.product_name }}</h3>
            <h3><b>{{ product.price }}</b></h3>
            <h5>{{ product.desc }}</h5>
        </div>
    </div>
</div>


{% block js %}
  <script>
    if(localStorage.getItem('cart') == null){
      var cart = {}
    }
    else{
      cart = JSON.parse(localStorage.getItem('cart'));
      document.getElementById('cart').innerHTML = Object.keys(cart).length;
    }
    $('.cart').click(function(){
      var idstr = this.id.toString();
      console.log(idstr);
      if(cart[idstr] != undefined){
        cart[idstr] = cart[idstr] + 1;
      }
      else{
        cart[idstr] = 1;
      }
      console.log(cart);
      localStorage.setItem('cart', JSON.stringify(cart));
      document.getElementById('cart').innerHTML = Object.keys(cart).length;
    })
  </script>
{% endblock %}

{% endblock %}