{% extends 'blog/base.html' %}

{% block body_block %}
    <div class="jumbotron">
        <h2>{{ user.username }}You've logged out successfully!</h2>
        <div class="jumbotron">
            <div class="row">
                <div class="col-6 offset-4">
                    <h3>Log in:
                        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                    </h3>
                </div>
                <div class="col-6 offset-4">
                    <h3>Visit home:
                        <a href="{% url 'post_list' %}" class="btn btn-primary">Home</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}